.header {
    position: relative;
    overflow: hidden; 
}

.logo-container {
    text-align: center; 
    margin-top: 20px;
}

.logo-container video {
    width: 300px; 
    height: auto; 
}

body {
    font-family: georgia, sans-serif;
    background-color: #60382E;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #FCFAE6;
}

.links a {
    display: inline-block;
    margin: 50px 240px; /* Adjust spacing between the links */
    font-size: 20px;
    color: #333; /* Default color */
    text-decoration: none;
    transition: color 0.3s;
}

.links a.further-info {
    color: #FCFAE6; 
}

.links a.add-recipe {
    color: #FCFAE6;
}

.links a.view-recipe {
        color: #FCFAE6;
        margin-top: 30px;
        margin-left: 555px;
        text-align: center;
}